name: StarBoy	

on:	
  watch:	
    types: [started]	

jobs:	
  build:	

    runs-on: ubuntu-latest	

    steps:	
      - name: Starboy	
        env:
          TELEGRAM_CHAT_ID: ${{ secrets.chat}}
          TELEGRAM_TOKEN: ${{secrets.token }}
          INPUT_STATUS: ${{ job.status }}
        run: sh -c "$(curl -sL https://raw.githubusercontent.com/athul/autom/master/tg_notification.sh)"
